<div>
  <div class="row">

    <div class="col-4 ">
      <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todos"
        [cdkDropListConnectedTo]="[inputsList,filtersList,OutputList]" (cdkDropListDropped)="onDrop($event)">
        <h2>Avalible Plugins</h2>
        <mat-card *ngFor="let todo of todos" cdkDrag>
          <mat-card-header>
            <mat-card-title>{{todo.name}}</mat-card-title>
            <mat-card-subtitle>{{todo.category}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <div class="col-1">
          <button (click)="onBack()">Back</button>
        </div>
        <div class="col-1">
          <button (click)="onNext()">Next</button>
        </div>
      </div>
      <div class="row">
        <div class="list" cdkDropList #inputsList="cdkDropList" [cdkDropListData]="inputs"
          [cdkDropListConnectedTo]="" (cdkDropListDropped)="onDrop($event)">
          <h2>My inputs</h2>
          <mat-card *ngFor="let input of inputs" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{input.name}}</mat-card-title>
              <mat-card-subtitle>{{input.category}}</mat-card-subtitle>
              <mat-card-actions (click)="removeItem(input)">x</mat-card-actions>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="list" cdkDropList #filtersList="cdkDropList" [cdkDropListData]="filters"
          [cdkDropListConnectedTo]="" (cdkDropListDropped)="onDrop($event)">
          <h2>My filter</h2>
          <mat-card *ngFor="let filter of filters" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{filter.name}}</mat-card-title>
              <mat-card-subtitle>{{filter.category}}</mat-card-subtitle>
              <mat-card-actions>x</mat-card-actions>	
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="list" cdkDropList #OutputList="cdkDropList" [cdkDropListData]="filters"
          [cdkDropListConnectedTo]="" (cdkDropListDropped)="onDrop($event)">
          <h2>My Output</h2>
          <mat-card *ngFor="let filter of filters" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{filter.name}}</mat-card-title>
              <mat-card-subtitle>{{filter.category}}</mat-card-subtitle>
              <mat-card-actions>x</mat-card-actions>	
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>

  </div>
</div>
