<div class="dev-tools pt-2">

  <!-- Interactive head buttons -->
  <div class="row m-2 mt-0">
    <div class="col-1">
      <button class="button" (click)="onBack()">Back</button>
    </div>
    <div class="col-1">
      <button class="button" (click)="onNext()">Next</button>
    </div>
  </div>

  <!-- Sections Inputs, Filters, Outputs -->
  <div class="row">
    <div class="col-3">
      <div class="section">
        <div class="section-head">
          <h2 class="m-0">Inputs</h2>
        </div>
        <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="inputPlugins"
          [cdkDropListConnectedTo]="[inputsList]" (cdkDropListDropped)="onDrop($event)">
          <div *ngFor="let input of inputPlugins; index as i; let last = last" cdkDrag>
            <app-plugin-card [content]="input" [source]="false" [last]="last"></app-plugin-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="section">
        <div class="section-head">
          <h2 class="m-0">Pipeline Inputs</h2>
        </div>
        <div class="list" cdkDropList #inputsList="cdkDropList" [cdkDropListData]="inputs" [cdkDropListConnectedTo]=""
          (cdkDropListDropped)="onDrop($event)">
          <div *ngFor="let input of inputs; index as i; let last = last" cdkDrag>
            <app-plugin-card [content]="input" [source]="true" [last]="last"></app-plugin-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="section">
        <div class="section-head">
          <h2 class="m-0">Filters</h2>
        </div>
        <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="filterPlugins"
          [cdkDropListConnectedTo]="[filtersList]" (cdkDropListDropped)="onDrop($event)">
          <div *ngFor="let filter of filterPlugins; index as i; let last = last" cdkDrag>
            <app-plugin-card [content]="filter" [source]="false" [last]="last"></app-plugin-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="section">
        <div class="section-head">
          <h2 class="m-0">Pipeline Filters</h2>
        </div>
        <div class="list" cdkDropList #filtersList="cdkDropList" [cdkDropListData]="filters" [cdkDropListConnectedTo]=""
          (cdkDropListDropped)="onDrop($event)">
          <div *ngFor="let filter of filters; index as i; let last = last" cdkDrag>
            <app-plugin-card [content]="filter" [source]="true" [last]="last"></app-plugin-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="section">
        <div class="section-head">
          <h2 class="m-0">outputs</h2>
        </div>
        <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="outputPlugins"
          [cdkDropListConnectedTo]="[OutputList]" (cdkDropListDropped)="onDrop($event)">
          <div *ngFor="let output of outputPlugins; index as i; let last = last" cdkDrag>
            <app-plugin-card [content]="output" [source]="false" [last]="last"></app-plugin-card>
          </div>

        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="section">
        <div class="section-head">
          <h2 class="m-0">Pipeline Outputs</h2>
        </div>
        <div class="list" cdkDropList #OutputList="cdkDropList" [cdkDropListData]="outputs" [cdkDropListConnectedTo]=""
          (cdkDropListDropped)="onDrop($event)">
          <div *ngFor="let output of outputs; index as i; let last = last" cdkDrag>
            <app-plugin-card [content]="output" [source]="true" [last]="last"></app-plugin-card>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
